params {
    genome = "/data/OpenOmics/references/genome-seek/Homo_sapiens_assembly38.fasta" // file(params.genome) 
    genomedict= "/data/CCBR_Pipeliner/Exome-seek/hg38/genome/Homo_sapiens_assembly38.dict"
    wgsregion = "/data/nousomedr/annotation/resources_broad_hg38_v0_wgs_calling_regions.hg38.interval_list" //
    millsindel = "/data/CCBR_Pipeliner/Exome-seek/hg38/GATK_resource_bundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz" //"/data/OpenOmics/references/genome-seek/GATK_resource_bundle/hg38bundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"// file(params.gold_indels1) //
    shapeitindel =  "/data/CCBR_Pipeliner/Exome-seek/hg38/GATK_resource_bundle/ALL.wgs.1000G_phase3.GRCh38.ncbi_remapper.20150424.shapeit2_indels.vcf.gz" //"/data/OpenOmics/references/genome-seek/ALL.wgs.1000G_phase3.GRCh38.ncbi_remapper.20150424.shapeit2_indels.vcf.gz" //file(params.gold_indels2) //
    dbsnp = "/data/OpenOmics/references/genome-seek/GATK_resource_bundle/hg38bundle/dbsnp_138.hg38.vcf.gz"
    gnomad = '/data/CCBR_Pipeliner/Exome-seek/hg38/GNOMAD/somatic-hg38-af-only-gnomad.hg38.vcf.gz' // /data/CCBR_Pipeliner/Exome-seek/hg38/GNOMAD/somatic-hg38-af-only-gnomad.hg38.vcf.gz
    pon = "/data/CCBR_Pipeliner/Exome-seek/hg38/PON/hg38.noCOSMIC_ClinVar.pon.vcf.gz" //file{params.pom} 
    kgp = "/data/CCBR_Pipeliner/Exome-seek/hg38/GATK_resource_bundle/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
    KRAKENBACDB = "/data/CCBR_Pipeliner/Exome-seek/hg38/kraken/20180907_standard_kraken2"
    fastq_screen_conf= "${projectDir}/workflow/resources/fastq_screen.conf"
    get_flowcell_lanes="${projectDir}/workflow/scripts/flowcell_lane.py"
    intervals="${projectDir}/workflow/resources/hg38_v0_wgs_calling_regions.hg38.bed"
    splitbed="${projectDir}/workflow/resources/split_Bed_into_equal_regions.py"
    snpeff_genome = "GRCh38.86"
    snpeff_config = "/data/CCBR_Pipeliner/Exome-seek/hg38/snpEff/4.3t/snpEff.config"
    snpeff_bundle = "/data/CCBR_Pipeliner/Exome-seek/hg38/snpEff/4.3t/"
    sites_vcf= "/data/CCBR_Pipeliner/Exome-seek/hg38/somalier/sites.hg38.vcf.gz"
    somalier_ancestrydb="/data/CCBR_Pipeliner/Exome-seek/hg38/somalier/1kg-somalier"
    script_genderPrediction = "${projectDir}/workflow/scripts/RScripts/predictGender.R"
    script_combineSamples = "${projectDir}/workflow/scripts/RScripts/combineAllSampleCompareResults.R"
    script_ancestry = "${projectDir}/workflow/scripts/RScripts/sampleCompareAncestoryPlots.R"

    config_profile_description = 'Biowulf nf-core config'
    max_memory = 224.GB	
    max_cpus = 32
    output = "output"
}

profiles {
    local {
        process {
            executor = 'local'
                        //withName:fc_lane {
             //   container= 'docker://nciccbr/ccbr_python:v0.0.1' 
              //  }
            //withName:fastq_screen {
                //container= 'docker://nciccbr/ccbr_fastq_screen_0.13.0:v2.0' 
               // }

            withName:bqsr {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0' 
                }
            withName:samtoolsindex {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                }
            withName:gatherbqsr {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                }
            withName:'mutect2|mutect2_t|mutect2_t_tonly' {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                }
            withName:'mutect2filter|mutect2filter_tonly' {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0' 
                }
            withName:'learnreadorientationmodel|learnreadorientationmodel_tonly' {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0' 
                }
            withName:'contamination_paired|contamination_tumoronly' {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0' 
                }
            withName:'pileup_paired_t|pileup_paired_n|pileup_paired_tonly' {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0' 
                }
            withName:applybqsr {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                }
          withName:'somalier_extract|somalier_analysis' {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                }
                                
        }    
        singularity {
                enabled = true
                autoMounts = true
                cacheDir = "$PWD/singularity"
                envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID'
                runOptions = '-B /data/OpenOmics/references/,/data/CCBR_Pipeliner/Exome-seek/,/data/nousomedr/,/data/CCBR/projects/,/vf/users/,/gpfs/,/fdb' 
            }    
    }

    biowulf {
        process {
            executor = 'slurm'
            queue = 'norm'
            queueSize = 100
            errorStrategy = 'finish'
            maxRetries = 0
            pollInterval = '1 min'
            queueStatInterval = '5 min'
            submitRateLimit = '6/1min'
            //Default options for Slurm Nodes
            cpus= '4'
            time= 48.h
            memory=64.GB



            timeline.enabled = true
            report.enabled = true
            //scratch = '/lscratch/$SLURM_JOBID'

            
            //Each Process and Container if it exists or use module in each process
            withName:fastq_screen{
                container= 'docker://nciccbr/ccbr_fastq_screen_0.13.0:v2.0' 
                memory=32.GB
                time=48.h
                cpus=4
            }

            withName:fastp {
                memory=48.GB
                time=48.h
                cpus=4
            }
            withName:bwamem2 {
                memory=200.GB
                time=48.h
                cpus=16
            }
            withName:indelrealign{
                memory=48.GB
                time=24.h
                cpus=2
            }
            withName:bqsr{
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                memory= 32.GB
                time= 48.h
            }
            withName:gatherbqsr{
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                memory= 16.GB
                time= 2.h
            }
            withName:applybqsr{
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                memory= 48.GB
                time= 48.h
            }
             withName:samtoolsindex{
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                memory= 16.GB
                time= 12.h
                cpus= 4
            }
            withName: 'mutect2|mutect2_t|mutect2_t_tonly' {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                memory= 48.GB
                cpus= 4
                time= 72.h
            }
            withName:'mutect2filter|mutect2filter_tonly' {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                memory= 24.GB
                time= 24.h
                cpus= 4
            }
            withName:'contamination_paired|contamination_tumoronly'{
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                memory= 24.GB
                time= 24.h
            }
            withName:'learnreadorientationmodel|learnreadorientationmodel_tonly' {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                memory= 48.GB
                time= 24.h
                }

            withName:'mergemut2stats|mergemut2stats_tonly' {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                memory= 16.GB
                time= 24.h
                }

            withName:'pileup_paired_t|pileup_paired_n|pileup_paired_tonly' {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                memory= 16.GB
                time= 12.h
                }

            withName:'annotvep_tn|annotvep_tonly'{
                //container= 'docker://dnousome/ccbr_vcf2maf:v102.0.0'
                memory= 32.GB
                time= 24.h
                cpus=16
            }
            withName:kraken {
                container= 'docker://nciccbr/ccbr_kraken_v2.1.1:v0.0.1'
                memory= 64.GB
                time= 24.h
                cpus=16
                clusterOptions="--gres=lscratch:256"
                }
            withName:'deepvariant_step1|deepvariant_step3' {
                memory= 64.GB
                time= 24.h
                cpus=2
                }
            withName:deepvariant_step2 {
                memory= 64.GB
                time= 24.h
                cpus= 16
                clusterOptions="--partition=gpu --gres=gpu:v100x:1,lscratch:256"
                }
            withName:'somalier_extract|somalier_analysis' {
                container= 'docker://dnousome/ccbr_wgs_base:v0.1.0'
                memory= 16.GB
                time= 12.h
                }

        }
        //Container options
        singularity {
                enabled = true
                autoMounts = true
                cacheDir = "$PWD/singularity"
                envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID'
                runOptions = '-B /data/OpenOmics/references/,/data/CCBR_Pipeliner/Exome-seek/,/data/nousomedr/,/data/CCBR/projects/,/vf/users/,/gpfs/,/fdb/' 
            }
    }
}

