
params {
    config_profile_description = 'Biowulf nf-core config'
    config_profile_contact = 'staff@hpc.nih.gov'
    config_profile_url = 'https://hpc.nih.gov/apps/nextflow.html'
    max_memory = '224 GB'
    max_cpus = 32
    max_time = '72 h'

    igenomes_base = '/fdb/igenomes/'

    // CCBR shared resource paths
    index_dir = '/data/CCBR_Pipeliner/db/PipeDB/Indices'
    fastq_screen {
        conf = "assets/fastq_screen_biowulf.conf"
        db_dir = '/data/CCBR_Pipeliner/db/PipeDB/lib/fastq_screen_db/'
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/data/CCBR_Pipeliner/SIFS"
    envWhitelist = 'https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID,SINGULARITY_BINDPATH'
    runOptions = '-B /gs10,/gs11,/gs12,/spin1,/data/CCBR_Pipeliner/,/vf/users,/gpfs,/fdb'
}

env.SINGULARITY_CACHEDIR = "/data/CCBR_Pipeliner/SIFS"

process {
    clusterOptions = ' --gres=lscratch:64 '
    scratch = '/lscratch/$SLURM_JOBID'
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    // for running pipeline on group sharing data directory, this can avoid inconsistent files timestamps
    cache = 'lenient'

    //Additional Process for BWAMEM2
    withName:bwamem2 {
        cpus   = { check_max( 22     * task.attempt, 'cpus'    ) }
        memory = { check_max( 220.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 72.h   * task.attempt, 'time'    ) }
        clusterOptions = ' --gres=lscratch:300 '
    }

    withName:fastp {
        cpus   = { check_max( 6    * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
        clusterOptions = ' --gres=lscratch:400 '
    }

    withName:"gridss_somatic|gridss_tonly" {
        cpus   = { check_max( 8     * task.attempt, 'cpus'    ) }
        memory = { check_max( 96.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 72.h   * task.attempt, 'time'    ) }
        clusterOptions = ' --gres=lscratch:300 '
    }

    withName:applybqsr {
        cpus   = { check_max( 4     * task.attempt, 'cpus'    ) }
        memory = { check_max( 24.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 120.h  * task.attempt, 'time'    ) }
        clusterOptions = ' --gres=lscratch:300 '
    }

}


