params {
    config_profile_name = 'Test stubs'
    config_profile_description = 'Minimal test configuration to run stubs with continuous integration'

    input = 'hello world'
    outdir = 'results/test'

    max_cpus = 2        // for GitHub Actions https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
    max_memory = '4.GB'
    max_time   = '6.h'

    publish_dir_mode = "symlink"
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/data/CCBR_Pipeliner/SIFS"
    envWhitelist = 'https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID,SINGULARITY_BINDPATH'
    runOptions = '-B /gs10,/gs11,/gs12,/spin1,/data/CCBR_Pipeliner/,/vf/users,/gpfs,/fdb'
}

env.SINGULARITY_CACHEDIR = "/data/CCBR_Pipeliner/SIFS"


process {
    cpus = 1
    memory = '1.GB'
    scratch = false
}

stubRun = true