// containers accessed in process definitions with $params.containers.NAME
params {
    containers {
        base = 'docker://nciccbr/ccbr_ubuntu_base_20.04:v6.1'
        logan = 'docker://dnousome/ccbr_logan_base:v0.3.5'
        vcf2maf = 'docker://dnousome/ccbr_vcf2maf:v102.0.0'
        lofreq = 'docker://dnousome/ccbr_lofreq:v0.0.1'
        octopus = 'docker://dancooke/octopus:latest'
        annotsv = "docker://quay.io/biocontainers/annotsv:3.4.2--py312hdfd78af_0"
        annotcnvsv = 'docker://dnousome/ccbr_annotate_cnvsv:v0.0.2'
    }
}
