params {
    config_profile_name = 'Run tasks locally on an interactive node'
    max_memory = '220 GB'
    max_cpus = 56
    max_time = '12 h'

    
}
process.scratch = false


singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/data/CCBR_Pipeliner/SIFS"
    envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID,SINGULARITY_BINDPATH'
}